<section class="section-four">
    <div class="container four-div">
        <h2 class="h-four">Breathe in the Space</h2>
        <p class="p-four">Step inside YogaBloom and feel the calm. Explore our serene studio and the peaceful moments our community shares during each session.</p>
        <ul class="ul-four">
            <li class="li-four">
                <img src="/img/breath-in-the-space/chatgpt1.jpg" srcset="/img/breath-in-the-space/chatgpt1.jpg 1x, /img/breath-in-the-space/chatgpt1x2.jpg 2x," alt="yoga training">
            </li> 
            <li class="li-four">
                <img src="/img/breath-in-the-space/chatgpt2.jpg" srcset="/img/breath-in-the-space/chatgpt2.jpg 1x, /img/breath-in-the-space/chatgpt2x2.jpg 2x," alt="meditation">
            </li> 
            <li class="li-four"> 
                <img src="/img/breath-in-the-space/chatgpt3.jpg" srcset="/img/breath-in-the-space/chatgpt3.jpg 1x, /img/breath-in-the-space/chatgpt3x2.jpg 2x," alt="yoga room">
            </li> 
            <li class="li-four"> 
                <img src="/img/breath-in-the-space/chatgpt4.jpg" srcset="/img/breath-in-the-space/chatgpt4.jpg 1x, /img/breath-in-the-space/chatgpt4x2.jpg 2x," alt="yoga room">
            </li>
            <li class="li-four">
                <img src="/img/breath-in-the-space/chatgpt5.jpg" srcset="/img/breath-in-the-space/chatgpt5.jpg 1x, /img/breath-in-the-space/chatgpt5x2.jpg 2x," alt="meditation">
            </li> 
            <li class="li-four"> 
                <img src="/img/breath-in-the-space/chatgpt6.jpg" srcset="/img/breath-in-the-space/chatgpt6.jpg 1x, /img/breath-in-the-space/chatgpt6x2.jpg 2x," alt="meditation">
            </li> 
        </ul>
    </div>
</section>