<section class="section-four">
    <div class="container four-div">
        <h2 class="h-four">Breathe in the Space</h2>
        <p class="p-four">Step inside YogaBloom and feel the calm. Explore our serene studio and the peaceful moments our community shares during each session.</p>
        <ul class="ul-four">
            <li class="li-four">
                <picture>
                    <source
                        srcset="/img/chatgpt1x1tel.jpg 1x, /img/chatgpt1x2tel.jpg 2x"
                        media="(max-width: 767px)"
                    />
                </picture>
            </li> 
            <li class="li-four">
                <picture>
                    <source
                    srcset=""   
                    />
                </picture>
            </li> 
            <li class="li-four"> 
                <picture>
                    <source
                    srcset=""   
                    />
                </picture>
            </li> 
            <li class="li-four"> 
                <picture>
                    <source
                    srcset=""   
                    />
                </picture>
            </li>
            <li class="li-four">
                <picture>
                    <source
                    srcset=""   
                    />
                </picture>
            <li class="li-four"> 
                <picture>
                    <source
                    srcset=""   
                    />
                </picture>
            </li> 
        </ul>
    </div>
</section>