<div class="container">
  <nav class="mobile-menu" id="mobileMenu">
    <ul class="burger-nav-list">
      <li><a href="#" class="burger-nav-link">Yoga Classes</a></li>
      <li><a href="#" class="burger-nav-link">Team</a></li>
      <li><a href="#" class="burger-nav-link">Testimonials</a></li>
      <li><a href="#" class="burger-nav-link">Pricing</a></li>
      <li><a href="#" class="burger-nav-link">Contacts</a></li>
    </ul>
    <a href="#" class="burger-link-button full-width">Join</a>
  </nav>
</div>
