<header class="header">
  <div class="container">
    <div class="header-icon-menu-container">
      <svg class="header-icon-menu" width="24" height="24" id="menu-icon">
        <use href="../img/icons.svg#icon-menu"></use>
      </svg>
    </div>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li>
          <a href="#yoga-classses" class="header-link current">Yoga Classes</a>
        </li>
        <li><a href="#team" class="header-link">Team</a></li>
        <li><a href="#testimonals" class="header-link">Testimonials</a></li>
        <li><a href="#pricing" class="header-link">Pricing</a></li>
        <li><a href="#connect" class="header-link">Contacts</a></li>
      </ul>
    </nav>
    <div class="header-logo-container">
      <svg class="header-icon-logo" width="84" height="36">
        <use href="../img/icons.svg#icon-logo"></use>
      </svg>
    </div>
    <div class="header-link-button-container">
      <a href="#pricing" class="header-link-button">Join</a>
    </div>
  </div>
</header>
