<header class="header">
  <div class="container">
    <div class="header-icon-menu-container">
      <svg class="header-icon-menu" width="24" height="24">
        <use href="../img/icons.svg#icon-menu"></use>
      </svg>
    </div>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li><a href="#" class="header-link current" >Yoga Classes</a></li>
        <li><a href="#" class="header-link">Team</a></li>
        <li><a href="#" class="header-link">Testimonials</a></li>
        <li><a href="#" class="header-link">Pricing</a></li>
        <li><a href="#" class="header-link">Contacts</a></li>
      </ul>
    </nav>
    <div class="header-logo-container">
      <svg class="header-icon-logo" width="83" height="23">
        <use href="../img/icons.svg#icon-logo"></use>
      </svg>
    </div>
    <div>
      <a href="#" class="header-link-button">Join</a>
    </div>
  </div>
</header>
