
<section class="price">
    <div class="container">
        <p class="price-descr">Affordable</p>
        <h2 class="price-title">Pricing Plans</h2>
        <p class="price-text">Choose the perfect plan for your yoga journey.</p>
        <ul class="price-list">
            <li class="price-item">
                <h3 class="price-item-title">One Session</h3>
                <p class="price-item-descr">$10</p>
                <ul class="payment-list">
                    <li class="payment-item">
                        <svg class="payment-icon" width="24" height="24">
                            <use href="../img/icons.svg#icon-check"></use>            </svg>
                        <p class="payment-descr">1 group session</p>
                    </li>
                    <li class="payment-item">
                        <svg class="payment-icon" width="24" height="24">
                            <use href="../img/icons.svg#icon-check"></use>
                        </svg>

                        <p class="payment-descr">10% discount for next 2 Sessions</p>
                    </li>
                    <li class="payment-item">
                        <svg class="payment-icon" width="24" height="24">
                            <use href="../img/icons.svg#icon-check"></use>
                        </svg>
                        <p class="payment-descr">Community support group</p>
                    </li>
                </ul>
                <button type="button">Join</button>
            </li>
            <li class="price-item">
                <h3 class="price-item-title">One Session</h3>
                <p class="price-item-descr">$10</p>
                <ul class="payment-list">
                    <li class="payment-item">
                        <svg class="payment-icon" width="24" height="24">
                            <use href="../img/icons.svg#icon-check"></use>
                        </svg>
                        <p class="payment-descr">1 group session</p>
                    </li>
                    <li class="payment-item">
                        <svg class="payment-icon" width="24" height="24">
                            <use href="../img/icons.svg#icon-check"></use>
                        </svg>
                        <p class="payment-descr">10% discount for next 2 Sessions</p>
                    </li>
                    <li class="payment-item">
                        <svg class="payment-icon" width="24" height="24">
                            <use href="../img/icons.svg#icon-check"></use>
                        </svg>
                        <p class="payment-descr">Community support group</p>
                    </li>
                </ul>
                <button type="button">Join</button>
            </li>
            <li class="price-item">
                <h3 class="price-item-title">One Session</h3>
                <p class="price-item-descr">$10</p>
                <ul class="payment-list">
                    <li class="payment-item">
                        <svg class="payment-icon" width="24" height="24">
                            <use href="../img/icons.svg#icon-check"></use>
                        </svg>
                        <p class="payment-descr">1 group session</p>
                    </li>
                    <li class="payment-item">
                        <svg class="payment-icon" width="24" height="24">
                            <use href="../img/icons.svg#icon-check"></use>
                        </svg>
                        <p class="payment-descr">10% discount for next 2 Sessions</p>
                    </li>
                    <li class="payment-item">
                        <svg class="payment-icon" width="24" height="24">
                            <use href="../img/icons.svg#icon-check"></use>
                        </svg>
                        <p class="payment-descr">Community support group</p>
                    </li>
                </ul>
                <button class="price-btn" type="button">Join</button>
            </li>
        </ul>
    </div>
</section>