<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/src/css/yoga-programs.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
<section class="yoga-programs">
    <div class="container">
        <p class="explore">Explore</p>
        <h2 class="yoga-text">Discover Our Most Popular Yoga Programs</h2>
        <p class="join">Join our community and elevate your practice with our expertly designed yoga programs. Each course is tailored to meet various skill levels and personal goals.</p>
    </div>
    <div class="yoga-image">
      <ul>
  <li class="programs-image">
    <img src="/src/img/PlaceholderImage.png.png" alt="yoga-example">
    <h2 class="yoga-image-text">Beginner Yoga: Foundations</h2>
    <p>Learn the basics of yoga in a supportive environment.</p>
  </li>
  <li class="programs-image">
    <img src="/src/img/PlaceholderImage-1.png.png" alt="yoga-example">
    <h2 class="yoga-image-text">Vinyasa Flow: Energize Your Body and Mind</h2>
    <p>Experience a dynamic sequence that connects breath and movement.</p>
  </li>
  <li class="programs-image full-width">
  <img src="/src/img/PlaceholderImage-2.png.png" alt="yoga-example">
  <h2 class="yoga-image-text">Restorative Yoga: Deep Relaxation and Healing</h2>
  <p>Unwind and rejuvenate with gentle poses and mindfulness.</p>
</li>
</ul>
    </div>
    <a href="#pricing" class="btn">Join now</a>
</section>