:root {
  --primary-color: #0d0b0a; /* Основний текст */
  --secondary-color: #c2d9fc; /* Додатковий колір */
  --background-color: #f2fafa; /* Основний фон */
  --secondary-background-color: #dfebeb; /* Додатковий фон  */
  --thirdy-background-color: #f8fbfe; /* Додатковий фон  */
  --font-primary: 'Sarabun', sans-serif; /* Основний шрифт */
  --font-secondary: 'Cabin', sans-serif; /* Додатковий шрифт */

  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
