.team {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 48px;
    box-sizing: border-box;

    padding: 64px 16px;
    width: 100%;
    margin: 0 auto;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: var(--color-scheme-3-background);
}

.title {
    margin-bottom: 48px;
}
.our-team {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--color-scheme-4-text);
    margin-bottom: 20px;

}
.meet {

    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: var(--color-scheme-4-text);
    margin-bottom: 12px;
}
.team-description {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: var(--color-scheme-4-text);
}
.team-image {
    border-radius: 16px;
    margin: 0 auto;
    width: 100%;
    max-width: 343px;
    height: 221px;
    overflow: hidden;
}

.team-name-job {
    margin-bottom: 20px;

}
.team-box-name {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    color: var(--color-scheme-4-text);
}
.team-box {
    margin-top: 20px;
    margin-bottom: 48px;

}
.team-job-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: var(--color-scheme-4-text);
    margin-bottom: 12px;
}
.team-about-instructor {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: var(--color-scheme-4-text);
    margin-bottom: 20px;
}


.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;


}
.social-icon-item {
    display: flex;
    justify-content: center;
    gap: 14px;
    flex-shrink: 0;
    
}
.icon {
    fill: transparent;
    stroke: var(--color-scheme-4-text);
}
.icon-fl {
    fill: var(--color-scheme-4-text);
}

.team-name-list {

    background: var(--color-scheme-3-background);
    margin-bottom: 24px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.team-card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}
.team-image {
    display: block;
    max-width: 100%;
    height: auto;
}


@media screen and (min-width: 736px) {
    .container {
        max-width: 768px;
        padding: 0 15px;
    }
    .team {
        padding-top: 40px;
    }

    .team-name-list {
        width: calc((100% - 24px) / 2);

    }

    
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
    .team {
        padding-top: 112px;
    }

    .team-name-list {

        width: calc((100% - 48px) / 3);
    }
    
}




